<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>最新动态</title>

	<link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">

	<link rel="stylesheet" href="http://www.123.com/hospital/public/styles/main.css">
</head>

<body>
	<!--[if lt IE 8]>
	    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	

	<div id="main" class="news">
		<foreach name="news" item="news">
			<a class="section" href="###">
				<div class="section-title">
					{$news.title}
				</div>
				<div class="section-time">
					{$news.time}
				</div>
				<div class="section-img">

				</div>
				<!--<div class="section-footer">-->
					<!--信息简介-->
				<!--</div>-->
			</a>
		</foreach>
	</div>

	<script src="htttp://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/Swiper/3.3.1/js/swiper.min.js"></script>
	<script src="htttp://cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>

	<script src="http://www.123.com/hospital/public/scripts/vendor.js"></script>
	<script src="http://www.123.com/hospital/public/scripts/main.js"></script>

	<script type="text/javascript">
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true
		});
	</script>
</body>

</html>
